{% if messages %}
{% for message in messages %}
<div id="message" class="container">
    <div class="alert
    alert-{% if message.tags == 'error' %}danger{% endif %} alert-dismissible text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        <strong>
            {% if message.tags == 'error' %}
            Ошибка: 
            {% endif %}
        </strong>
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}